<app-nav></app-nav>

<hr class="uk-margin-small uk-margin-remove-top" />

<app-filters
  [homeTypeFilters]="homeTypeFilters"
  [filterBarState]="filterBarState$ | async"
  [form]="form"
  (closeFilterDropdown)="closeFilterDropdown($event)"
  (toggleFilterDropdown)="toggleFilterDropdown($event)"
  (submit)="submit($event)"
></app-filters>

<hr class="uk-margin-small uk-margin-remove-bottom" />

<!-- <nav class="uk-navbar">
  <div class="uk-navbar-left">
    <a href="#" class="uk-navbar-item uk-logo">
      <img src="assets/logo.png" width="40" />
    </a>
  </div>
  <div class="uk-navbar-left uk-width-expand">
    <form class="uk-search uk-search-default uk-box-shadow-small uk-card-hover uk-width-large">
      <span uk-search-icon></span>
      <input class="uk-search-input" type="search" placeholder="Anywhere • Homes" />
    </form>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav uk-visible@m">
      <li><a href="#">Become a host</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Sign up</a></li>
      <li><a href="#">Log in</a></li>
    </ul>
  </div>
</nav> -->
<!-- <hr class="uk-margin-small uk-margin-remove-top" /> -->
<!-- <div class="uk-grid-small uk-margin-left" uk-grid>
  <div><button class="uk-button uk-button-default uk-button-small">Dates</button></div>
  <div><button class="uk-button uk-button-default uk-button-small">Guests</button></div>
  <div *ngIf="(filterBarState$ | async) as filterBarState" (clickOutside)="closeFilterDropdown('homeType')">
    <button
      (click)="toggleFilterDropdown('homeType')"
      [ngClass]="{ 'uk-button-primary': filterBarState.homeType.selected }"
      class="uk-button uk-button-default uk-button-small"
    >
      Home type
    </button>
    <div
      *ngIf="filterBarState.homeType.open"
      class="uk-width-medium uk-dropdown uk-open uk-dropdown-bottom-left"
      #homeTypeFilter
    >
      <form [formGroup]="form" (submit)="submit(form.value)">
        <fieldset class="uk-fieldset">
          <div>
            <div
              class="uk-flex uk-flex-column uk-margin"
              *ngFor="let filter of form.get('homeTypeFilters')['controls']; let i = index"
            >
              <label class="uk-flex uk-flex-row uk-margin-small">
                <div><input class="uk-checkbox" type="checkbox" [formControl]="filter" /></div>
                <div class="uk-margin-small-left">
                  <div>
                    {{ homeTypeFilters[i].name }}
                  </div>
                  <div class="uk-text-small">
                    {{ homeTypeFilters[i].description }}
                  </div>
                </div>
              </label>
            </div>
          </div>
        </fieldset>
        <button class="uk-button uk-button-link uk-button-large uk-align-right uk-margin-small">Apply</button>
      </form>
    </div>
  </div>
  <div><button class="uk-button uk-button-default uk-button-small">Price</button></div>
  <div><button class="uk-button uk-button-default uk-button-small">Rooms and beds</button></div>
  <div><button class="uk-button uk-button-default uk-button-small">Amenities</button></div>
  <div><button class="uk-button uk-button-default uk-button-small">More filters</button></div>
</div> -->
<!-- <hr class="uk-margin-small uk-margin-remove-bottom" /> -->
