<div class="uk-grid-small uk-margin-left" uk-grid>
  <!-- Home type filter -->
  <div (clickOutside)="closeFilterDropdown.next('homeType')">
    <button
      [ngClass]="{ 'uk-button-primary': !!filterBarState.homeType.filters.length }"
      (click)="toggleFilterDropdown.next('homeType')"
      class="uk-button uk-button-default uk-button-small"
    >
      Home type
    </button>

    <div *ngIf="filterBarState.homeType.open" class="uk-width-medium uk-dropdown uk-open uk-dropdown-bottom-left">
      <app-filter-home-type-form [form]="form" (submit)="submit.next(form.value)"></app-filter-home-type-form>
    </div>
  </div>

  <!-- Dates filter -->
  <div>
    <button class="uk-button uk-button-default uk-button-small">Dates</button>
  </div>

  <!-- Guests filter -->
  <div>
    <button class="uk-button uk-button-default uk-button-small">Guests</button>
  </div>

  <!-- Price filter -->
  <div>
    <button class="uk-button uk-button-default uk-button-small">Price</button>
  </div>

  <!-- Rooms filter -->
  <div>
    <button class="uk-button uk-button-default uk-button-small">Rooms and beds</button>
  </div>

  <!-- Amenities filter -->
  <div>
    <button class="uk-button uk-button-default uk-button-small">Amenities</button>
  </div>
</div>
