<form [formGroup]="form" (submit)="submit(form.value)">
  <fieldset class="uk-fieldset">
    <div>
      <div class="uk-flex uk-flex-column uk-margin">
        <label class="uk-flex uk-flex-row uk-margin-small">
          <div>
            <input class="uk-checkbox" type="checkbox" [formControlName]="'Entire apartment'" />
          </div>
          <div class="uk-margin-small-left">
            <div>
              Entire apartment
            </div>
            <div class="uk-text-small">
              Have the whole place to yourself
            </div>
          </div>
        </label>
      </div>

      <div class="uk-flex uk-flex-column uk-margin">
        <label class="uk-flex uk-flex-row uk-margin-small">
          <div>
            <input class="uk-checkbox" type="checkbox" [formControlName]="'Private room'" />
          </div>
          <div class="uk-margin-small-left">
            <div>
              Private room
            </div>
            <div class="uk-text-small">
              Your own room with shared common spaces
            </div>
          </div>
        </label>
      </div>

      <div class="uk-flex uk-flex-column uk-margin">
        <label class="uk-flex uk-flex-row uk-margin-small">
          <div>
            <input class="uk-checkbox" type="checkbox" [formControlName]="'Tree house'" />
          </div>
          <div class="uk-margin-small-left">
            <div>
              Tree house
            </div>
            <div class="uk-text-small">
              Enjoy an entire tree house with your friends
            </div>
          </div>
        </label>
      </div>

      <div class="uk-flex uk-flex-column uk-margin">
        <label class="uk-flex uk-flex-row uk-margin-small">
          <div>
            <input class="uk-checkbox" type="checkbox" [formControlName]="'Hotel room'" />
          </div>
          <div class="uk-margin-small-left">
            <div>
              Hotel room
            </div>
            <div class="uk-text-small">
              Private or shared room in a hotel
            </div>
          </div>
        </label>
      </div>
    </div>
  </fieldset>
  <button class="uk-button uk-button-link uk-button-large uk-align-right uk-margin-small">Apply</button>
</form>
