<header>
  <div class="uk-container uk-container-expand uk-padding-remove">
    <div class="uk-background-default" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
      <nav class="uk-navbar">
        <div class="uk-navbar-left">
          <a href="#" class="uk-navbar-item uk-logo">
            <img src="assets/logo.png" width="40" />
          </a>
        </div>
        <div class="uk-navbar-left uk-width-expand">
          <form class="uk-search uk-search-default uk-box-shadow-small uk-card-hover uk-width-large">
            <span uk-search-icon></span>
            <input class="uk-search-input" type="search" placeholder="Anywhere • Homes" />
          </form>
        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav uk-visible@m">
            <li><a href="#">Become a host</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Sign up</a></li>
            <li><a href="#">Log in</a></li>
          </ul>
        </div>
      </nav>
      <hr class="uk-margin-small uk-margin-remove-top" />
      <div class="uk-grid-small uk-margin-left" uk-grid>
        <div><button class="uk-button uk-button-default uk-button-small">Dates</button></div>
        <div><button class="uk-button uk-button-default uk-button-small">Guests</button></div>
        <div><button class="uk-button uk-button-default uk-button-small">Home type</button></div>
        <div><button class="uk-button uk-button-default uk-button-small">Price</button></div>
        <div><button class="uk-button uk-button-default uk-button-small">Rooms and beds</button></div>
        <div><button class="uk-button uk-button-default uk-button-small">Amenities</button></div>
        <div><button class="uk-button uk-button-default uk-button-small">More filters</button></div>
      </div>
      <hr class="uk-margin-small uk-margin-remove-bottom" />
    </div>
  </div>
</header>

<section class="uk-section uk-padding-small uk-padding-remove-bottom">
  <div class="uk-container uk-container-expand">
    <h1 class="uk-heading-primary">Homes</h1>
    <div
      *ngIf="(listings$ | async) as listings; else loading"
      class="uk-grid-match uk-child-width-1-5@l uk-child-width-1-4@m uk-child-width-1-2@s"
      uk-grid
    >
      <div *ngFor="let listing of listings">
        <div class="uk-card">
          <div class="uk-card-media-top">
            <img src="{{ listing.image_url }}" class="uk-border-rounded" />
          </div>
          <div class="uk-card-body uk-padding-remove">
            <div
              class="uk-text-muted uk-text-uppercase uk-text-small uk-margin-small uk-margin-remove-vertical uk-text-bold uk-text-truncate"
            >
              {{ listing.type }} • {{ listing.location }}
            </div>
            <div class="uk-text-bold">
              {{ listing.title }}
            </div>
            <div class="uk-text-small uk-text-muted">${{ listing.price }} per night</div>
            <div class="uk-flex uk-flex-middle uk-text-small">
              <span
                *ngFor="let star of parseStars(listing.rating.stars)"
                uk-icon="icon: star; ratio: 0.7"
                [ngClass]="{ 'uk-text-danger': star, 'uk-text-muted': !star }"
              ></span>
              <div class="uk-text-small">&nbsp;{{ listing.rating.count }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #loading>
  <div class="uk-container uk-text-center uk-margin">
    <div uk-spinner="ratio: 3"></div>
  </div>
</ng-template>

<router-outlet></router-outlet>
