<nav class="uk-navbar">
  <div class="uk-navbar-left">
    <a href="#" class="uk-navbar-item uk-logo">
      <img src="assets/logo.png" width="40" />
    </a>
  </div>
  <div class="uk-navbar-left uk-width-expand">
    <form class="uk-search uk-search-default uk-box-shadow-small uk-card-hover uk-width-large">
      <span uk-search-icon></span>
      <input class="uk-search-input" type="search" placeholder="Anywhere • Homes" />
    </form>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav uk-visible@m">
      <li><a href="#">Become a host</a></li>
      <li><a href="#">Help</a></li>
      <li><a href="#">Sign up</a></li>
      <li><a href="#">Log in</a></li>
    </ul>
  </div>
</nav>
