<div class="uk-flex uk-flex-nowrap uk-grid-small uk-margin-left">
  <div (clickOutside)="closeFilterDropdown.next('homeType')" class="uk-padding-remove-left">
    <button
      (click)="toggleFilterDropdown.next('homeType')"
      class="uk-button uk-button-default uk-button-small uk-text-nowrap"
    >
      Home type
    </button>

    <div *ngIf="filterBarState.homeType.open" class="uk-width-medium uk-dropdown uk-open uk-dropdown-bottom-left">
      <app-filter-home-type-form></app-filter-home-type-form>
    </div>
  </div>

  <div>
    <button class="uk-button uk-button-default uk-button-small uk-text-nowrap">Dates</button>
  </div>

  <div>
    <button class="uk-button uk-button-default uk-button-small uk-text-nowrap">Guests</button>
  </div>

  <div>
    <button class="uk-button uk-button-default uk-button-small uk-text-nowrap">Price</button>
  </div>

  <div>
    <button class="uk-button uk-button-default uk-button-small uk-text-nowrap">Rooms and beds</button>
  </div>

  <div>
    <button class="uk-button uk-button-default uk-button-small uk-text-nowrap">Amenities</button>
  </div>
</div>
