<div class="uk-flex uk-flex-nowrap uk-grid-small uk-margin-left">
  <!-- Home type filter -->
  <div (clickOutside)="closeFilterDropdown.next('homeType')" class="uk-padding-remove-left">
    <button
      [ngClass]="{ 'uk-button-primary': filterBarState.homeType.filters.length > 0 }"
      (click)="toggleFilterDropdown.next('homeType')"
      class="uk-button uk-button-default uk-button-small uk-text-nowrap"
    >
      Home type
    </button>

    <div *ngIf="filterBarState.homeType.open" class="uk-width-medium uk-dropdown uk-open uk-dropdown-bottom-left">
      <app-filter-home-type-form
        [defaultFilters]="filterBarState.homeType.filters"
        (applyHomeTypeFilter)="applyFilters.next({ homeType: $event })"
      ></app-filter-home-type-form>
    </div>
  </div>

  <!-- Dates filter -->
  <div>
    <button class="uk-button uk-button-default uk-button-small uk-text-nowrap">Dates</button>
  </div>

  <!-- Guests filter -->
  <div>
    <button class="uk-button uk-button-default uk-button-small uk-text-nowrap">Guests</button>
  </div>

  <!-- Price filter -->
  <div>
    <button class="uk-button uk-button-default uk-button-small uk-text-nowrap">Price</button>
  </div>

  <!-- Rooms filter -->
  <div>
    <button class="uk-button uk-button-default uk-button-small uk-text-nowrap">Rooms and beds</button>
  </div>

  <!-- Amenities filter -->
  <div>
    <button class="uk-button uk-button-default uk-button-small uk-text-nowrap">Amenities</button>
  </div>
</div>
