<div class="uk-flex uk-flex-nowrap uk-grid-small uk-margin-left">
  <div class="uk-padding-remove-left">
    <button class="uk-button uk-button-default uk-button-small uk-text-nowrap">Home type</button>
  </div>
  <div>
    <button class="uk-button uk-button-default uk-button-small uk-text-nowrap">Dates</button>
  </div>
  <div>
    <button class="uk-button uk-button-default uk-button-small uk-text-nowrap">Guests</button>
  </div>
  <div>
    <button class="uk-button uk-button-default uk-button-small uk-text-nowrap">Price</button>
  </div>
  <div>
    <button class="uk-button uk-button-default uk-button-small uk-text-nowrap">Rooms and beds</button>
  </div>
  <div>
    <button class="uk-button uk-button-default uk-button-small uk-text-nowrap">Amenities</button>
  </div>
</div>
